.sequence { font-family: courier; }
#query { width:500px; height:200px; }
form input[type=number] { width: 50px; }
.select-dbs { width: 600px; }
.select-db { display: inline-block; margin-right: 10px; }

#results { margin-top: 25px; }
#results-list { width: 60%; }
#results-summary { margin-left: 10px; border-left: 1px solid #ddd; padding-left: 10px; width: 35%; }

.tab-pane { padding-top: 10px; }
.related-desc { padding-left: 20px; }

.overlay {
  display: block !important; 
  margin-top: 1px; margin-bottom: 1px;
  font-size: 0.9em;
  cursor: pointer;
  text-align: left !important;
  font-weight: normal !important;
}
.overlay:hover { background-color: #ccc; color: black; }

.alignment-container { margin: 15px; }
table.alignment { font-size:0.9em; white-space:pre; border-collapse:collapse; border-spacing:0px; }
table.alignment tr, table.alignment td { margin:0; padding:0; }
.alignment-pos-left { text-align: right; padding-right: 5px !important;}
.alignment-pos-right { text-align: left; padding-left: 5px !important; }
table.alignment td { padding: 3px 0px; line-height: 12px; }
table.alignment .bp-mismatch { background-color:#d9534f; color:white; }
